.menubar{
    display: block;
}
.menu-list-mobile{
    display: none;
    text-align: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 6vw;
    box-sizing: border-box;
    left: 0;
    padding: 0;
}
.menu-list-mobile li{
    text-align: center;
    height: 3vw;
    display: flex;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    background-color: #33333386;
    margin-bottom:2vw ;
}
.menu-list-mobile li{
    background-color: #333;
    position: relative;
    margin-left: 80%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    margin-right: 2vW;
}

.menu-list-mobile li:hover{
    background-color: rgba(255, 217, 0, 0.267);
}

.link:hover{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
nav{
    width: 100%;
    height: 7vh;
    box-sizing: border-box;
}
.hero{
    height: 40vh;
}
.hero::before{
    height: 40vh; 
}
.Acquisitions{
    height: fit-content;

}
.cards{
    flex-direction: column;
}
.card{
    width: 100%;
    margin-bottom: 4vw;
}
.card img{
    height: 10%;
}

.the_mother_fckers{
    flex-direction: column;
    width: 200%;
    height: 70vh;
}

.equipe{
    padding:5% ;
}



