.hero::before{
    background-image: url(../images/pexels-fauxels-3183197.jpg);
}
.hero{
}
.team_members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    background: linear-gradient(to right, #a7a3a3, #72716ed3, rgb(155, 151, 151), #413f3cd3);
}

.team-member {
    box-shadow: 3px 3px 5px black;
    position: relative;
    margin: 20px;
    width: 75%;
    text-align: center;
    border-radius: 10% 10% 10px 10px;
    overflow: hidden;
    background-color: #1f1919;
    transition: transform 0.3s;

}
.team-member img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10% 10% 10px 10px;
    transition: 0.5s ease-in-out;
}


.team-member h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}
.team-member p {
    margin: 5px 0;
    color: #777;
}
.team-member:hover {
    transform: scale(1.2);
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #ffd53b59;
    z-index: 100;
    display: flex;
    box-shadow: 0 0 50vw black ;
}
.team-member:hover img{
    border-radius: 0;
    filter: brightness(70%);
}
.team-member:hover .details {
    opacity: 1;
    transform: translateY(0);
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}
.details button{
    color: #fff;
    background-color: #ffd43b;
    border-radius: 0.5vw;
}
.details button:hover{
    background-color: #ffd53bab;
}
.details button span{
    color: black;
    font-weight: 900;
}

footer{
    padding: 2vw;
}

@media (max-width: 768px) {
    .team_members{
        display: block;
        width: 100%;
    
    }
    .team-member{
        width: 70%;
        margin-left: 15%;
        box-sizing: border-box;
    }
    .team-member:hover{

        width: 70%;
        margin: 30% 15%;   
    }
    .team-member img {
        aspect-ratio: 2/1.5;
    }
    .team-member img:hover{
        aspect-ratio: 1/1;
    }


}