.hero{
    display: block;
    text-align: center;
    margin: 0;
}
.hero::before{
    background-image: url('../images/contact.jpg');
    filter: brightness(0.3) blur(2px);
}
.Contact-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vw;
    padding: 1vw 10%;

}
.heading h2{

    font-size: 2.5vw;
}
.heading p{
    font-size: 1.5vw;
    margin: auto 20%;
    border-bottom: 3px solid #ffd53b6c;
}
.info_section{
    width: 50%;
    border-radius: 5% 0 0 5%;
    background-color: rgba(240, 248, 255, 0.185);
    margin: auto 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 55vh;
    box-sizing: border-box;
    border-right: 4px solid #ffd43b;
}
.info{
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 30%;
    margin-bottom: 1vw;
}
.info h3{
    color: #ffd43b;
    margin-top: 2vw;
    padding: 0;
    margin-bottom: 0;
}
.info p{
    margin: 0;
    padding-top: 0.5vw;
}
.icon_div{
    width: 2vw;
    height: 2vw;
    margin: 2vW;
    background-color: white;
    border-radius: 50%;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon_div svg{
    height: 2vw;
    width: 2vw;
}
.info_item{
    width: 50%;
}
.contact_form{
    height: 52vh;
    width: 50%;
    box-sizing: border-box;
    padding-top: 0;
    margin-top: 0;
    padding: 2vw;
}
.contact_form h2{
    padding-top: 0;
    font-size: 2vw;
    margin-top: 0;
    border-bottom: 3px solid #33333393;
}
form{
    display: flex;
    height: 40vh;
    flex-direction: column;
}
input, textarea{
    margin-bottom: 2vw;
    height: 16vw;
    border: none;
    border-bottom: 3px solid #ffd43b;
    background-color: rgba(210, 180, 140, 0.356);
    border-radius: 5px;
    color: rgba(255, 249, 249, 0.952);
    font-size: 1.5vw;
}

::placeholder {
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.699); /* Change la couleur du placeholder */
    opacity: 1; /* Assure que l'opacité est totale */
  }

input[type = 'submit']{
    background-color: #ffd43b;
    width: 50%;
    height: 2.7vw;
    font-weight: bold;
    border-radius: 0.4vw;
    color: #333;
    margin: 0;
}
textarea{
    height: 26vw;
}
input[type = 'submit']:hover{
    background-color: #333;
    color: white;
    border: none;
    box-shadow: 0 0 10px #ffd43b;
    transition: 0.2s ease-in;
}
.boutons{
    display: flex;
    justify-content: center;
    margin: auto 4vw;
}

footer{
    padding: 2vw;
    height: 4vw;
}
@media (max-width: 760px) {
    body{
        margin: 0;
    }
    
    .hero{
        height: max-content;

    }
    
    .hero::before{
        position: absolute;
        height: 200vh;
    }
    .Contact-wrapper{
        flex-direction: column;
        margin: 0;
        margin-top: 6vw;
        padding-left: 0;
        padding-right: 0;
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
        
    }
    .info_section, .contact_form{
        border: none;
        border-radius: 0;
        width: 100%;
        padding-top: 5vh;
        height: 50vh;
        margin: 0;
    }
    .contact_form{
        margin-top:4vw;
        box-sizing: border-box;
        height: fit-content;
    }
    .contact_form h2{
        font-size: 4vw;
        
    }
    
    .heading h2{
        font-size: 4vw;
        margin-top: 10vw;
    }
    input{
        height: 7vw;
        margin-bottom: 4vw;
        font-size: 2.5vw;

    }
    textarea{
        margin-bottom: 0;
        height: 15vw;
        font-size: 2.5vw;
    }
    ::placeholder{
        font-size: 2.5vw;
    }
    input[type = 'submit']{
        margin: 6vw;
        font-size: 4vw;
        height: 6vw;
    }
    form{
        height: 50vh;
    }
    .boutons{
        margin: 0;
    }
    
    footer{
        width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height:7vw;
        box-sizing: border-box;
    }
}