body{
    margin: 0;
    font-family: 'Nanum Myeongjo';
    color: white;
    background-color: #eee;
    transition: ease-in 0.3s;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}
svg{
    margin-top: 0.5vw;
    height: 4vw;
    width: 4vw;
}
nav{
    padding: 1vw 5vw 1vw 5vw;
    background-color: #333;
    display: flex;
    max-width: 100%;
    height: 6vw;
    box-sizing: border-box;
    justify-content: space-between;
    transition: all 0.4s;

}
.company_name{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'indie flower';
    font-size: 2vw;
    box-sizing: border-box;
}
.company_name h1{
    margin-top: 4vw;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.menu-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}
button{
    background: none;
    border: none;
}
.menubar{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.home{
    height: 3vw;
    width: 3vw;
}
.active{
    color: #ffd43b;
    border-bottom: 3px solid #ffd43b;
    padding: 0.2vw;
}
.menu li{
    list-style: none;
    text-decoration: none;
}
.link:hover{
    background-color: #ffd43b;
    color: #333;
    box-shadow: 0 0 5px #7d7896;
    font-size: 1.6vw;
    border-radius: 3px;
    padding: 0.5vw;
}
.home:hover{
    border: 1px solid gold;
    box-shadow: 0 0 5px gold;
    filter: drop-shadow(0 0 10px gold);
    height: 3.2vw;
    width: 3.2vw;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

/* acceuil*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
}
.hero_content{
    width: 40%;
    text-align: center;
    font-size: 2vw;
}
.hero_content p{
    font-size: 1.3vw;
}
span{
    color: gold;
}

/*nos acquisitions*/
.Acquisitions{
    height: 90vh;
    color: black;
    padding: 4vw 10vw;
    width: 100%;
    box-sizing: border-box;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-radius: 1vw;
    transition: ease-in 0.3s;
}
.card:hover{
    box-shadow: 0 0 10px black;
}
.card img{
    border-radius: 1vw 1vw 0 0;
    width: 100%;
    height: 15vw;

}
.card div{
    height: 1px;
    width: 20%;
    background-color: #333;
    margin-bottom: 0.5vw;
}
/*une equpe pro*/
.the_mother_fckers{
    display: flex;
    height: 80vh;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 5%;
    padding-bottom: 1.5vw;

}
.the_mother_fckers img{
    width: 50%;
}
.equipe{
    width: 50%;
    padding: 10% 2vw;
    box-sizing: border-box;
    text-align: justify;
    background-color: #333;
    font-size: 2vw;
}
.equipe p{
    font-size: 1.5vw;
}

/*comment section*/
.testimony{
    color: black;
    width: 100%;
    box-sizing: border-box;
}
.testimony h3, .testimony h4{
    border-bottom: 1px solid rgb(202, 200, 200);
    margin: 2.5vw auto 0;
    padding-bottom: 1vw ; 
    padding-top: 1vw;
    font-size: 2vw;
    font-weight: 900;
    
}

.banner{
    background-color: #5f5b5b;
    color: #ffd43b;
    font-size: 3vw;
    font-weight: bold;
    padding: 1vw;
    
}
.commentaire{
    display: flex;
    justify-content: start;
    padding: 5px 2vw;
    width: 70%;
    height: fit-content;
    font-size: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-bottom: 2vw;
    margin-left: 15%;
    border-radius: 1vw;
    align-items: center;
    box-sizing: border-box;
    gap: 2vw;
    box-shadow: 2px 2px 2px gray;
    border: 0.1px solid #bebbbb;
}

.comment-text{
    width: 90%;
    text-align: justify;
}
.comment-text svg{
    width: 1.5vw;
    height: 1.5vw;

}

.comment-profile{
    text-align: center;
    box-sizing: border-box;
}

.comment-profile img{
        height: 5vw;
        width: 5vw;
        border-radius: 3vw;        
}
.comment-profile h6{
    margin: 0;
    font-size: medium;
}
.comment-profile p{
    margin: 0;
}

.formulaire_comment{
    width: 100%;
    box-sizing: border-box;  
    background-color: #333;
    color: white;
}
#comment_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:10px 25%;
    box-sizing: border-box;
    background-color: #000000bf;
}
input{
    height: 3vw;
  
}

input, textarea{
    width: 100%;
    border-radius: 1vw;
    border: 2px solid #333;
    background-color: #80808033;
    font-size: 1.5vw;
    color: white;

}
textarea{
    height: 5vw;
}



.file-upload-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: #5f5b5b;
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}
.file-upload-wrapper:hover{
    background-color: #a0b4ca;
}
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    cursor: pointer;
}

label{
    text-align: left;
    align-self: flex-start;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 1vw;
}
.file-label {
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius:0 1vw 1vw 0;
    cursor: pointer;
    align-self: center;
    margin: 0;
    width: 90%;
    height: fit-content;
    transition: background-color 0.3s ease;
}
.file-upload-wrapper svg{
    width: 3vw;
    height: 100%;
    border-radius: 1vw 0 0 1vw;
    padding: 5px;
    margin: 0;
    
}

.file-label:hover {
    background-color: #a0b4ca;
}

.submit-button {
    padding: 10px 20px;
    background-color: #ffeb3b;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 1vw;
    height: 4vw;
    cursor: pointer;
    font-weight: 800;
    width: 100%;
    margin: 5vw 0 2vw;
    font-size: 1.3vw;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #333;
    color: #ffd43b;
    border: 1px solid #ffd43b;
    box-shadow: 2px 2px 4px #ffd43b;
}
footer{
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: #333;
    height: fit-content;
    padding: 2vw;

}


/*alert pour commentaire*/
#alert{
    width: 50%;
    background-color: #38340d;
    color: white;
    font-size: 1.4vw;
    font-weight: bolder;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #000;
    z-index: 1000;
    border-radius: 2vw;
}

.comment_info{
    font-size: smaller;
    color: gray;
}